.single-image-container {
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    transform: translateY(-15px);
  }
}

.image-size {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  /* width: 160px;
  height: 240px; */
}
.premium-tag {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 7px;
  background-image: linear-gradient(180deg, #ff6d2e 28.63%, #dd461d);
  border-radius: 0px 0px 0px 10px;
}
.premium-text {
  font-size: 9px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay-play-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.overlay-text-container {
  position: absolute;
  bottom: 0px;
  padding: 5px 0;
  width: 100%;
  z-index: 1;
}
.overlay-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 10px;
}

.card-footer-text-container {
  text-align: left;
  display: flex;
  gap: 5px;
  align-items: center;
}
.single-image-text {
  font-size: 16px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.adult-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: var(--card-footer-tag-white-space, nowrap);
  box-sizing: var(--card-footer-tag-box-sizing, border-box);
  padding: 0 5px;
  border-radius: 5px;
  height: 18px;
  min-width: 22px;
  width: fit-content;
  font-size: 10px;
  font-weight: var(--card-footer-tag-font-weight, normal);
  font-family: var(--card-footer-tag-font-family, inherit);
  background: linear-gradient(rgb(59, 64, 70) 9.38%, rgb(45, 48, 55));
  color: #fff;
}
