.sample-class {
  width: 160px;
}
@media screen and (max-width: 900px) {
  .sample-class {
    width: 120px;
  }
}
.kids-class {
  width: 212px;
}
.top10-class {
  width: 212px;
}
.actor-class {
  width: 130px;
}
.upcoming-aha-class {
  width: 212px;
}
.genres {
  width: 150px;
}
